<% include partials/header %>

<h1>Admin Page!</h1>
<h2><a href="/admin/compsci">Computer Science</a></h2>
<h2><a href="/admin/sportsci">Sports Science</a></h2>
<h2>Projects</h2>

<% include partials/footer %>