<% include partials/header %>
<h1>Login</h1>

<div class="container login-form"> 
<form action="/login" method="POST">

	<div class="form-group"> <!-- Title field -->
		<label class="control-label " for="name">Username</label>
		<input class="form-control" name="username" type="text"/>
	</div>
	
	<div class="form-group"> <!-- Image field -->
		<label class="control-label requiredField" for="image">Password</label>
		<input class="form-control" name="password" type="password"/>
	</div>
	
	<div class="form-group">
		<button class="btn btn-primary " name="submit" type="submit">Login</button>
	</div>
	
</form>		
</div>


<% include partials/footer %>
