.left {
  text-align: left;
}

.sixteen {
  font-size: 20px;
}
p div {
  text-align:left;
}

p {
  font-size: 18px;
}

ol li {
width: 40%;
margin: auto;
text-align: left;
}

body {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;;
}

.edit-form {
  width: 50%;
}

.login-form {
  width: 40%;
}

.thumbnail {
/*   width: 60%;
  margin: 20px auto; */
}

.img-thumbnail {
  margin: 0;
}

.blog-thumbnail {
  width: 60%;
  margin: 20px auto;
}